// Body
$body-bg: #f0f2f5;

$header: #2D4A22;
$dark-blue: #363f5f;
$pale-blue: #969cb3;
$card-total: #49AA26;
$income: #12a454;
$expense: #e92929;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: white;
